<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-test</title>
  </head>
  <body>
    <div id="img" class="form-group">
        <label>背景图</label>
        <input type="file" class="form-control" @change="onFileChange">
      </div>
    <div class="form-group" v-if="image">
        <label>背景图预览</label>
        ![](image)
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <div id="app2">
      <!--插值-->
      <!-- <div v-html="message"></div> -->
      <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
      </span>
    </div>
    <div id="app-3">
      <p v-if="seen">看到我了</p>
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">翻转消息</button>
    </div>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
    <div id="app-7">
      <ol>
        <!--
          为每个todo-item提供todo对象
          todo对象也是变量，即内容可以是动态的
          也需要为每个组件提供一个"key""
        -->
        <todo-item
          v-for="item in TestList"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>

    <script>
      var app_img = new Vue({
        el: '#img',
        data: {
          message: 'Hello qh!'
        },
        methods: {
          onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
            return;
            this.createImage(files[0]);
            },
          createImage(file) {
            var image = new Image();
            var reader = new FileReader();
            var vm = this;

            reader.onload = (e) => {
              vm.image = e.target.result;
            };
              reader.readAsDataURL(file);
          },
        }
      })
      var app2 = new Vue({
        el: '#app2',
        data: {
          // message: '<h1>Test</h1>'
          message: '页面加载于 ' + new Date().toLocaleString()
        }
      })
      var app3 = new Vue({
        el: '#app-3',
        data: {
          seen: true
        }
      })
      var app4 = new Vue({
        el: '#app-4',
        data: {
          todos: [
            { text: 'a'},
            { text: 'b'},
            { text: 'c'}
          ]
        }
      })
      var app5 = new Vue({
        el: '#app-5',
        data: {
          message: 'Hello qh!'
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })
      var app6 = new Vue({
        el: '#app-6',
        data: {
          message: 'Hellow vue!'
        }
      })
      Vue.component('todo-item', {
        // "prop"类似于一个自定义特性
        // 这个prop被命名为todo
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      })
      var app7 = new Vue({
        el: '#app-7',
        data: {
          TestList: [
            { id: 0, text: 'ABC'},
            { id: 1, text: 'DEF'},
            { id: 2, text: 'GHI'}
          ]
        }
      })
    </script>
  </body>
</html>
